# .nuxt node_modules package.json Dockerfile が必要

/.devcontainer

/.docker

/.emulator

/.firebase

/.github

/.vscode

/firebase-export*

/functions

/src

.editorconfig

.env

.eslintrc.js

.firebaserc

.gitignore

.prettierignore

.prettierrc

firebase.json

*.log

firestore.indexes.json

firestore.rules

jsconfig.json

nuxt.config.js

package-lock.json

README.md

shims-vue.d.ts

storage.rules

stylelint.config.js

tsconfig.json

webpack.config.js
