/.devcontainer

/.emulator

/.github

/.vscode

/src

.editorconfig

.env

.eslintrc.js

.firebaserc

.gitignore

.prettierignore

.prettierrc

firebase.json

firestore-debug.log

firestore.indexes.json

firestore.rules

jsconfig.json

nuxt.config.js

package-lock.json

README.md

shims-vue.d.ts

storage.rules

stylelint.config.js

tsconfig.json

ui-debug.log

webpack.config.js
