// firebase deploy --only firestore:rules

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // common functions
    function onlyMe(userId) {
      return request.auth != null && userId == request.auth.uid;
    }

    function isValidString(value, min, max) {
      return min <= value.size() && value.size() <= max;
    }

    function isValidImage(value) {
      return value == null || value.matches('^https?://.+$');
    }

    // users
    function isValidUser(user) {
      return user.size() == 2
      && 'name' in user && user.name is string
      && 'imageUrl' in user && (user.imageUrl == null || user.imageUrl is string);
    }

    match /users/{userId} {
      allow read;
      allow create: if onlyMe(userId)
      && isValidUser(request.resource.data)
      && isValidString(request.resource.data.name, 1, 20)
      && isValidImage(request.resource.data.imageUrl);
      allow update: if onlyMe(userId)
      && isValidUser(request.resource.data)
      && isValidString(request.resource.data.name, 1, 20)
      && isValidImage(request.resource.data.imageUrl);
    }
  }
}