// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$container-max-widths: (
  'md': 720px,
  'lg': 960px,
  'xl': 1140px
);
$tabletBreakPoints: 767px;

h1 {
  border-bottom: double 5px #1a237e;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0.4em 0.5em;
  border-left: solid 5px #1a237e;
}

@media (max-width: $tabletBreakPoints) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 18px;
  }
}
